<meta name="viewport" content="width=device-width, initial-scale=1.0">
<hr>
<form [formGroup]="newStockForm" (submit) = "handleSubmit()">
    <label for ="stockTicker" style="margin-right:10px">Stock Label: </label>
    <input type="text" id ="name" formControlName = "stockTicker">
    <span style="color:red">{{errorMessage1}}</span>
    <br><br>

    <label for ="price" style="margin-right:10px">Price: </label>
    <!-- Price corresponding to stock ticker, 
      https://marketdata.multicode.uk/API/PseudoFeed/{stockTicker}
    -->
    <input type="number" id ="price" formControlName = "price" readonly>
    <span style="color:red">{{errorMessage2}}</span>
    <button class="style-button" (click) = "retrievePrice()">Retrieve Price</button>
    <br><br>

    <label for ="volume" style="margin-right:10px">Volume: </label>
    <input type="number" id ="volume" formControlName = "volume">
    <span style="color:red">{{errorMessage3}}</span>

    <br><br>

    <label for ="buyOrSell" style="margin-right:10px">BuyOrSell: (BUY/SELL) </label>
    <input type="text" id ="buyOrSell" formControlName = "buyOrSell">
    <span style="color:red">{{errorMessage4}}</span>
    
    <br><br>

    <label for ="statusCode" style="margin-right:10px">StatusCode: (0/1/2)</label>
    <input type="number" id ="statusCode" formControlName = "statusCode">
    <span style="color:red">{{errorMessage5}}</span>
    <h6>[0 - Pending, 1 - Filled, 2 - Rejected] </h6>

    <button *ngIf="!stockId; else updateButton" class="submit-button"><b> Add </b></button>
    <ng-template #updateButton>
      <button class="submit-button"><b> Update </b></button>
    </ng-template>
</form>

