.submit-button{
    color: black;
    background-color: rgb(109, 233, 109);
    cursor: pointer;
}
*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.style-button{
    background-color: #fac095;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 8px;
    text-align: center;
    transition-duration: 0.4s;
  }
  .style-button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: black;
    color: white;
  }

@media only screen and (max-width: 600px) {
    form, button {
      font-size:small;
    }
}
@media only screen and (max-width: 420px) {
    form, button {
       font-size:xx-small;
       padding:0;
       margin:0;
     }
   }
