*{
    box-sizing: border-box;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  @media only screen and (max-width: 600px) {
    p {
      font-size:small;
    }
  }
  @media only screen and (max-width: 600px) {
    div {
      font-size:small;
    }
  }
  .chart-container {
    max-width: 600px; /* Set the maximum width of the chart container */
    margin: 0 auto; /* Center align the container horizontally */
  }