<meta name="viewport" content="width=device-width, initial-scale=1.0">
<hr>
<p *ngIf ="errorMessage == '' && stocks.length == 0">Loading...</p>
<table class="table" *ngIf = "stocks.length > 0">
   <thead>
    <tr>
        <th>ID</th>
        <th>Stock Label</th>
        <th>Price</th>
        <th>Volume</th>
        <th>BUY/ SELL</th>
        <th>Status Code</th>
        <th>Update</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let stock of stocks">
        <td>{{stock.id}}</td>
        <td>{{stock.stockTicker}}</td>
        <td>{{stock.price | currency: 'USD'}}</td>
        <td>{{stock.volume}}</td>
        <td>{{stock.buyOrSell}}</td>
        <td>{{stock.statusCode}}</td>
        <td>
         <button class="style-button" style="vertical-align:middle" role="edit" style="font-weight: bold" (click) = "editStock(stock.id)">
         <span>     
            Edit
         </span>
         </button>
          </td>
     </tr>
   </tbody>
</table>

<p>{{errorMessage}}</p>




