*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@media only screen and (max-width: 600px) {
  p {
    font-size:small;
  }
}
@media only screen and (max-width: 600px) {
  div {
    font-size:small;
  }
}